html, body {
  margin: 0; padding: 0;
}

/* div {
  background-color: tomato;
  width: 30%; 
  margin: auto;
  margin-bottom: 10px; 
  height: 500px;
  margin: 10px 30px;
  padding: 10px 30px; 
} */

/* 
div:nth-child(1) {
  width: 70%;
}
div:nth-child(2) {
  width: 20%;
}
div:nth-child(3) {
  width: 500px;
}
div:nth-child(4) {
  width: 50rem;
}
div:nth-child(5) {
  width: 90em;
}

body {
  text-align: center;
}

a {
  background-color: skyblue;
}
a:nth-child(1) {
  width: 70%;
}
a:nth-child(2) {
  width: 20%;
}
a:nth-child(3) {
  width: 500px;
}
a:nth-child(4) {
  width: 50rem;
}
a:nth-child(5) {
  width: 90em;
}
a:nth-child(6) {
  width: 50vw;
} */
/* 인라인요소는 컨텐츠사이즈만큼 차지해서 너비설정이 안됨 */

/* section {
  background-color: darkgreen;
  margin: 50px;
  padding: 20px;
}

div {
  margin: 10px;
  padding: 10px;
  background-color: black;
}

h1, p {
  background-color: tomato;
}
 */

 /* div {
  background-color: black;
  padding: 10px;
  margin: 10px;

 }

h1, p {
  background-color: tomato;
}

input {
  width: 300px;
  height: 20px;
}

span {
  background-color: skyblue;
} */
/* span은 웹페이지에서 컨텐츠 일부에 다른 스타일을 적용할때 주로 사용 */

body {
  text-align: right;
}

div {
  /* display: inline-block; */
  /* 인라인블록 요소로 설정 - 블록요소처럼 너비높이설정다됨 */
  /* background-color: green; */
  /* width: 30%; height: 500px;
  margin: 20px 50px; padding: 10px 30px; */
  /* margin: 5px; */

}
 div:nth-child(1){
      width: 70%;
    }
    div:nth-child(2){
      width: 20%;
    }
    div:nth-child(3){
      width: 500px;
    }
    div:nth-child(4){
      width: 50rem;
    }
    div:nth-child(5){
      width: 90em;
    }
/* 인라인블록은 인라인처럼 정렬됨 */