* {
  box-sizing: border-box;
}

html {
  background-image: url(https://cdn.pixabay.com/photo/2017/01/26/18/09/length-landscape-2011238_1280.jpg);
  background-size: cover;
  /* 지정한 요소를 다 덮도록 크기를 확대/축소 */
  background-repeat: no-repeat;
}
body {
  display: table-cell;
  vertical-align: middle;
  width: 100vw; height: 100vh;

  
}


.con {
  background-color: rgba(255,255,255,0.6);
  margin: auto;
  padding: 30px;
  text-align: center;
  max-width: 450px;
  border-radius: 20px;
  backdrop-filter: blur(8px) ;

}
img {
  scale: 77%;
  margin: 0; padding: 0;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 3.8rem;
  font-weight: 100;
  color: rgb(73, 73, 73);
  margin: 0px 20px 30px 20px;
}

.res {
  text-align: left;
}


input, label {
  font-family: 'Rajdhani', sans-serif;
}
.res input {
  border: none;
  background: transparent;
  /* border:none :input 테두리 없애기
     background: transparet 배경투명하게 */
  width: 100%;
  font-size: 125%;
  padding: 3px;
}
.res input:focus {
  outline: none;
  /* input 클릭시 테두리 안보이게 */
}
.res > div {
  padding: 0px 0px 5px 10px;
}

.first, .last{
  display: inline-block;
  width: 49%;
}

.last {
  border-left: 1px solid #333;
}
.email, .password {
  border-bottom: 1px solid #333;
  display: inline-block;
  width: 100%;
}
.email {
  border-top: #333 1px solid;
}

.check {
  position: relative;
  margin: 30px 0;
}
 /* .check label {
  display: block;
  width: 100%;
}
.check input {
  position: absolute;
  left: 51px;
  bottom: 1px;
  vertical-align: middle;
}  
 이렇게 하면 창이줄어들때 체크박스가 글자를 가림 */

#check {
  display: none;
}
/* 기존 input의 check박스 안보이게 설정 */

.check > label{
cursor: pointer;
}
/* check박스랑 연결된 label 커서 바꿔주기 */


.check > label {
  display: inline-flex;
  align-items: center;    
}
/* inline-felx는 container에 주는게 기본 */
.box {
  margin-right: 3px;
}

#check:checked + label::before {
  position: absolute;
  bottom: 2px;
  margin-left: 2px;
  content:'\2713';
  color: black;
  font-size: 1rem;
  font-weight: bold; }
/* label이랑 input이 서로 연결되어서 #check에 checked를 연결해도 무방 */

/* 여기서부터는 before로 가상의 체크박스 만들어서 체크(더어려움,,) */

/* #check + label::before {
  content: '';
  margin-right: 3px;
  width: 10px; height: 10px;
  border: 1px solid #333;  */
  /* display: inline-flex; */ 
  /* align-items: center; }*/

/* label:before 체크하기전 설정 */

/* #check:checked + label::before {
  content:'\2713';
  color: black;
  border-color: #333;
  font-size: 16px;
  font-weight: bold; */
  /* display: inline-flex; */
  /* align-items: center; }*/

/* before요소 클릭시 나타내는 설정 */

.sign > input {
  scale: 150%;
  outline: none;
  border: 1px solid #333;
  padding: 3px 7px;
  transition: .2s;
  
  }

.sign > input:hover {
  background-color: #333;
  color: #fff;
  outline: none;
  border: 1px solid #333;
  cursor: pointer;
}

